.listtodo {
    list-style: none;
    width: 600px;
    

}

.listtodo button {
    border: none;
    cursor: pointer;
}

.listtodo li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    
}

.btns2 {
    display: flex;
    gap: 20px;
}

.btns2 button {
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}