.container {
    display: flex;
    flex-direction: column;
}

.container  button {
    width: 100px;
    border: none;
    background-color: green;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}
video {
    width: 500px;
}