body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.steps {
  background-color: rgb(176, 241, 241);
  width: 500px;
  margin:0 auto; 
  margin-top: 50px; 
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 250px;
  justify-content: flex-start;
  gap: 80px;
 
  
}

.numbers {
  display: flex;
  gap: 100px;
 

}

.numbers div {
  background-color: rgb(176, 241, 241);
  border: 3px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.numbers div.active {
  background-color: #fff;
  color: rgb(146, 196, 196);
}

.buttons {
  display: flex;
  gap: 200px;
}

.buttons button {
  border: none;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color:rgb(150, 209, 209);
  font-weight: bold;
  width: 80px;
}
.buttons button:disabled {
  background-color: rgb(150, 209, 209);
  color: rgb(95, 177, 177);
}

